<div class="row">
    <div class="col-xl-8">
        {% if current_theme == "alpha3" %}
            <h3>New from {{ website_branding.name }}</h3>
        {% else %}
            <div class="row">
                <div class="col-8">
                    <h3>Recently uploaded to {{ website_branding.name }}</h3>
                </div>
                <div class="col-4">
                    <div class="text-end"><a href="/browse"
                                             class="btn btn-light btn-sm">Browse</a></div>
                </div>
            </div>
        {% endif %}
        {% for submission in data.submissions_new %}
            {{ include('/components/videobox.twig') }}
        {% else %}
            <p>No uploads.</p>
        {% endfor %}
    </div>
    <div class="col-xl-4">
        {% if is_user_logged_in %}
            {# hack to prevent twig from outputing the number 1 #}
            {% if user_stat_data.followers != 1 %}
                {% set pluralSubscribers = "s" %}
            {% endif %}
            {% if user_stat_data.views != 1 %}
                {% set pluralViews = "s" %}
            {% endif %}
            {% if current_theme == "alpha3" %}
                <div>
                    <h3>Hi there, {{ user_data.name }}</h3>
                    <img class="float-end rounded w-25" src="{{ profile_picture(user_data.name) }}" alt="pfp">
                    <div class="text-start float-start">
                        <p>You have {{ user_stat_data.followers ?? "no" }} subscriber{{ pluralSubscribers }}.</p>
                        <p>You have {{ user_stat_data.views ?? "no" }} view{{ pluralViews }}.</p>
                        <p>Your account was made {{ user_data.joined | relative_time }}.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% else %}
                <div>
                    <img class="float-start rounded-circle w-25 me-3"
                         src="{{ profile_picture(user_data.name) }}"
                         alt="{{ user_data.name }}">
                    <div class="text-start float-start">
                        <h3>{{ user_data.title }}</h3>
                        <p class="fs-5 mb-1">@{{ user_data.name }}</p>
                        <p class="mb-2">{{ user_stat_data.followers ?? "no" }}
                            subscriber{{ pluralSubscribers }}</p>
                        <p class="mb-2">{{ user_stat_data.views ?? "no" }} view{{ pluralViews }}</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            {% endif %}
        {% else %}
            {% if current_theme == "alpha3" %}
                <h3>Welcome to {{ website_branding.name }}!</h3>
                {% if is_chaziz_sb %}
                    <p>This is like any other video sharing site... for now at least.</p>
                {% endif %}
                <div class="btn-group">
                    <a href="/register" class="btn btn-primary">Get started</a>
                    <a href="/login" class="btn btn-light">{{ localize('login') }}</a>
                </div>
            {% else %}
                <h3>Welcome to {{ website_branding.name }}</h3>
                {% if is_chaziz_sb %}
                    <p>I can't believe it's not PokTube</p>
                {% endif %}
                <div class="btn-group my-auto w-100">
                    <a href="/register" class="btn btn-primary">{{ localize('register') }}</a>
                    <a href="/login" class="btn btn-secondary">{{ localize('login') }}</a>
                </div>
            {% endif %}
        {% endif %}
        <hr/>
        <h3>News and updates</h3>
        {% for news in data.news_recent %}
            <h4>
                {{ news.title }}
            </h4>
            {{ news.contents | markdown_user_written }}
            <p class="blockquote-footer">{{ news.author.info.username }}</p>
        {% endfor %}
    </div>
</div>