<!-- This prevents the user info box from being extremely tall. Box probably needs to be redesigned... -->
<div class="col-md-8 order-2 order-md-1">
    <div class="card mb-2">
        <div class="card-body">
            <h3>{{ localize('journals') }}</h3>
            {% for journal in data.journals %}
                {{ include('/components/journal.twig') }}
            {% else %}
                <p>There are currently no journals by {{ data.username }}.</p>
            {% endfor %}
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>{{ localize('uploads') }}</h3>
            {% for submission in data.submissions %}
                {{ include('/components/smallvideobox.twig') }}
            {% else %}
                <p>There are currently no uploads by {{ data.username }}.</p>
            {% endfor %}
        </div>
    </div>
</div>
<div class="col-md-4 order-1 order-md-2">
    <div class="card mb-2">
        <div class="card-body">
            <h4>About {{ data.username }}</h4>
            <hr>
            <dl class="row mb-0">
                <dt class="col-auto">Joined</dt>
                <dd class="col-auto">{{ data.joined | relative_time() }}</dd>
            </dl>
            <dl class="row mb-0">
                <dt class="col-auto">Last seen</dt>
                <dd class="col-auto">{{ data.connected | relative_time }}</dd>
            </dl>
        </div>
    </div>
</div>