{% extends "_layout.twig" %}

{% block title %}{{ data.username }}{% endblock %}

    {% block head %}
        <script>
            user_id = '{{ data.id }}';
        </script>
    {% endblock %}

    {% block precontent %}
        <style>
            {{ data.bootstrap_profile_css }}

            .bg-channel-background {
                margin-top: -1.5rem; /* KINDA UGLY */
            }
        </style>
        {% if current_theme == "classic" %}
            <div class="bg-channel-background">
                <div class="col-12 mb-2 mt-0">
                    <div class="p-1 bg-custom-profile text-white">
                        <div class="container py-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="float-start rounded-circle me-3"
                                            src="{{ profile_picture(data.id) }}"
                                            width="150" alt="pfp">
                                    <h1 class="align-top fw-bold mb-0">
                                        {{ data.displayname }}
                                        {% if data.is_staff %}{{ icon("shield", 32) }}{% endif %}
                                    </h1>
                                    <div class="fs-4">@{{ data.username }}</div>
                                    <p class="fs-6 text-break">{{ data.about }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="bg-channel-background mb-0">
                <div class="bg-custom-profile text-white py-4">
                    <div class="container">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle me-3 flex-shrink-0" 
                                src="{{ profile_picture(data.id) }}" 
                                width="90"
                                alt="Profile picture">
                            
                            <div class="flex-grow-1">
                                <h1 class="fw-bold mb-1">
                                    {{ data.displayname }}
                                    {% if data.is_staff %}{{ icon("shield", 32) }}{% endif %}
                                </h1>
                                <div class="fs-4 text-white-50 mb-2">@{{ data.username }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3 py-2 bg-light border">
                <div class="d-flex justify-content-center">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link{% if selected_tab == 'home' %} active{% endif %}" 
                                href="/user/{{ data.username }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{% if selected_tab == 'uploads' %} active{% endif %}" 
                                href="/user/{{ data.username }}/uploads">Uploads</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{% if selected_tab == 'journals' %} active{% endif %}" 
                                href="/user/{{ data.username }}/journals">Journals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{% if selected_tab == 'comments' %} active{% endif %}" 
                                href="/user/{{ data.username }}/comments">Comments</a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endblock %}