{% extends "_layout.twig" %}

{% block title %}Home{% endblock %}
	{% block content %}
        <div class="row">
            <div class="col-xl-8">
                <div class="row">
                    <div class="col-8">
                        <h3>Recently uploaded to {{ website_branding.name }}</h3>
                    </div>
                    <div class="col-4">
                        <div class="text-end"><a href="/browse"
                                                 class="btn btn-light btn-sm">Browse</a></div>
                    </div>
                </div>
                {% for submission in data.submissions_new %}
                    {{ include('/components/videobox.twig') }}
                {% else %}
                    <p>No uploads.</p>
                {% endfor %}
            </div>
            <div class="col-xl-4">
                {% if is_user_logged_in %}
                    <div>
                        <img class="float-start rounded-circle w-25 me-3" src="{{ profile_picture(user_data.name) }}"
                             alt="{{ user_data.name }}">
                        <div class="text-start float-start">
                            <h3>{{ user_data.title }}</h3>
                            {# hack to prevent twig from outputing the number 1 #}
                            {% if user_stat_data.followers != 1 %}
                                {% set pluralSubscribers = "s" %}
                            {% endif %}
                            {% if user_stat_data.views != 1 %}
                                {% set pluralViews = "s" %}
                            {% endif %}
                            <p class="fs-5 mb-1">@{{ user_data.name }}</p>
                            <p class="mb-2">{{ user_stat_data.followers ?? "no" }} subscriber{{ pluralSubscribers }}</p>
                            <p class="mb-2">{{ user_stat_data.views ?? "no" }} view{{ pluralViews }}</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                {% else %}
                    <h3>Welcome to {{ website_branding.name }}</h3>
                    {% if is_chaziz_sb %}
                        <p>Your content, your narration, your niche on the web.</p>
                    {% endif %}
                    <div class="btn-group my-auto w-100">
                        <a href="/register" class="btn btn-primary">Register</a>
                        <a href="/login" class="btn btn-secondary">Login</a>
                    </div>
                {% endif %}
                <hr/>
                <h3>News and updates</h3>
                {% for news in data.news_recent %}
                    <div class="card" style="margin-bottom:10px">
                        <div class="card-body">
                            <h5>
                                <a href="/read?j={{ news.id }}">
                                    {{ news.title|u.truncate(100, '...') }}
                                </a>
                            </h5>
                            {{ news.contents|u.truncate(250, '...') }}
                        </div>
                        <div class="card-footer text-body-secondary">
                            {{ news.published | relative_time }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
