{% extends "_layout-login.twig" %}

{% block title %}Login{% endblock %}

	{% block content %}
        <main class="form-signin">
            {% if error %}
                <div class="alert alert-warning" role="alert">{{ error }}</div>
            {% endif %}
            <form method="post" name="loginForm" id="loginForm" action="/login">
                <a href="/"><img class="mb-2" src="{{ logo }}" alt="{{ website_branding.name }}" width="90"></a>
                <h1 class="mb-3 fs-3 text-white">{{ localize('login') }}</h1>
                <div class="login-box">
                    <div class="card">
                        <div class="card-body">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            <div class="form-floating my-2">
                                <input type="text" name="username" class="form-control" id="floatingInput"
                                        placeholder="Username">
                                <label for="floatingInput">Username</label>
                            </div>
                            <div class="form-floating my-2">
                                <input type="password" name="password" class="form-control" id="floatingPassword"
                                        placeholder="Password">
                                <label for="floatingPassword">Password</label>
                            </div>
                            {% if current_theme == "classic" %}
                            <div class="d-grid gap-2 d-md-flex justify-content-between">
                                <input class="btn btn-lg btn-primary flex-grow-1" type="submit" value="Login"
                                        name="loginsubmit">
                                <a class="btn btn-lg btn-secondary" href="/">Back</a>
                            </div>
                            {% else %}
                                <input class="btn btn-lg btn-primary w-100" type="submit" value="Login" name="loginsubmit">
                                <div class="mt-3">{{ localize('dont_have_an_account') }} <a href="/register">{{ localize('register') }}</a></div>
                            {% endif %}
                        </div>
                    </div>
                    {% if current_theme == "classic" %}
                        <p class="mt-2 text-white">Account passwords are hashed with bcrypt.</p>
                        <p class="mt-5 mb-3 text-white">{{ localize('footer_copyright', ('now' | date('Y'))) }}.</p>
                    {% else %}
                        <p class="mt-3 text-white">{{ localize('footer_copyright', ('now' | date('Y'))) }}</p>
                    {% endif %}
                </div>
            </form>
        </main>
    {% endblock %}
