{% set layout_template = current_theme == 'alpha2' ? '_layout.twig' : '_layout-login.twig' %}

{% extends layout_template %}

{% block title %}Register{% endblock %}

	{% block content %}
        {% if current_theme == "alpha2" %}
            <h2>Register</h2>
            <form method="post" name="registerForm" id="registerForm" action="/register">
                <div class="form-group">Username:
                    <input type="text" name="username" class="form-control" placeholder="Username" required>
                </div>
                <div class="form-group">Email:
                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                </div>
                <div class="form-group">Password:
                    <input type="password" name="pass1" class="form-control" placeholder="Password" required>
                    <input type="password" name="pass2" class="form-control" placeholder="Password (Again)" required>
                </div>
                <div class="form-group">Date of birth:
                    <input type="date" name="birthdate" class="form-control" required/>
                </div>
                {% if captcha_public_token %}
                    <div class="h-captcha" data-sitekey="{{ captcha_public_token }}"></div>
                {% endif %}
                <button type="submit" name="registersubmit" value="Submit" class="btn btn-primary">Submit</button>
            </form>
        {% else %}
            <main class="form-signin">
                {% if error %}
                    <div class="alert alert-warning" role="alert">{{ error }}</div>
                {% endif %}
                <div class="container">
                </div>
                <form method="post" name="registerForm" id="registerForm" action="/register">
                    <img class="mb-2" src="{{ logo }}" alt="{{ website_branding.name }}"
                         width="90">
                    <h3 class="mb-4 text-white">Register</h3>
                    <form method="POST">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-floating my-2">
                                    <input type="email" name="email" class="form-control" id="floatingEmail"
                                           placeholder="">
                                    <label for="floatingEmail">Email</label>
                                </div>
                                <div class="form-floating my-2">
                                    <input type="text" name="username" class="form-control" id="floatingUsername"
                                           placeholder="" required>
                                    <label for="floatingUsername">Username</label>
                                </div>
                                <div class="form-floating my-2">
                                    <input type="password" name="pass1" class="form-control" id="floatingPass"
                                           placeholder="" required>
                                    <label for="floatingPass">Password</label>
                                </div>
                                <div class="form-floating my-2">
                                    <input type="password" name="pass2" class="form-control" id="floatingPass2"
                                           placeholder="" required>
                                    <label for="floatingPass2">Password (Again)</label>
                                </div>
                                <div class="form-floating my-2">
                                    <input type="date" name="birthdate" class="form-control" required/>
                                    <label for="birthdate">Date of birth:</label>
                                </div>
                                {% if captcha_public_token %}
                                    <div class="my-2">
                                        <div class="h-captcha" data-sitekey="{{ captcha_public_token }}"></div>
                                    </div>
                                {% endif %}
                                <div class="d-flex gap-2 justify-content-between">
                                    <input class="btn btn-lg btn-primary flex-grow-1" type="submit" value="Register"
                                           name="registersubmit">
                                    <a class="btn btn-lg btn-secondary" href="/">Back</a>
                                </div>
                            </div>
                        </div>
                        <p class="mt-2 text-white"><b>You must be 13 years or older to register to
                                {{ website_branding.name }}.</b> <br>Account passwords are hashed with bcrypt.</p>
                        <p class="mt-5 mb-3 text-white">© 2021-{{ 'now' | date('Y') }} OpenSB contributors.</p>
                    </form>
            </main>
        {% endif %}
        {% if hcaptcha_sitekey %}
            <script src='https://www.hCaptcha.com/1/api.js' async defer></script>
        {% endif %}
    {% endblock %}
