{% extends "_layout.twig" %}

{% block title %}{{ localize('new_upload') }}{% endblock %}

	{% block content %}
        <h1>{{ localize('new_upload') }}</h1>
        <div class="card">
            <div class="card-body">
                <p>
                    {{ localize('new_upload_intro', '/guidelines') | raw }}
                </p>
                <p class="fw-bold">
                    {{ localize('reupload_warning') }}
                </p>
                <form name="uploadForm" id="uploadForm" method="post" action="/upload" enctype="multipart/form-data">
                    <input type="text" class="form-control mb-1" name="title" value="" placeholder="Title" required>
                    <textarea class="form-control mb-1" name="desc" maxlength="65500" form="uploadForm"
                            style="overflow:hidden;resize:none" rows="3" placeholder="Description"></textarea>
                    <input type="text" class="form-control" name="tags" value="" placeholder="Tags" required>
                    
                    <br>
                    
                    <input class="form-control" type="file" name="fileToUpload" id="fileToUpload" required>
                    <br>
                    <p>{{ localize('upload_limit', limit) }}</p>

                    <br>

                    <div class="text-end">
                        <input class="btn btn-primary" type="submit" id="upload" name="upload"
                            value="Upload">
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
