{% extends "_layout.twig" %}

{% set level_titles = {
    4: localize('user_role_owner'),
    3: localize('user_role_administrator'),
    2: localize('user_role_moderator'),
} %}

{% block title %}{{ localize("about") }}{% endblock %}

{% block content %}
    <h1>{{ localize("about") }}</h1>
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <p>{{ localize('version_intro', '2021-' ~ ('now' | date('Y')), data.developers|join(', ')) }}</p>
                            <p>{{ localize('version_agpl') }}</p>
                            <p>{{ localize('version_no_warranty') }}</p>
                            <p>{{ localize('version_license_notice', '/license', 'http://www.gnu.org/licenses/') | raw }}</p>
                            <p>{{ localize('version_github', 'https://github.com/bluffingo/OpenSB') | raw }}</p>
                            <table class="table table-sm table-borderless align-middle">
                                <tbody>
                                    {% for thing in data.software %}
                                        <tr>
                                            <td class="fw-medium text-nowrap">
                                                {{ thing.title }}
                                            </td>
                                            <td class="text-muted">
                                                {{ thing.info }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            {% for user in data.staff|sort((a, b) => b.level <=> a.level) %}
                                <div class="d-flex align-items-center gap-3">
                                    <div class="flex-shrink-0">
                                        <img
                                            src="{{ profile_picture(user.id) }}"
                                            alt="{{ user.info.username }}"
                                            class="rounded-circle img-fluid"
                                            width="48"
                                            height="48">
                                    </div>

                                    <div class="flex-grow-1">
                                        <h5 class="mb-1">
                                            {{ user_link(user) }}
                                        </h5>
                                        <div class="text-muted small">
                                            {{ level_titles[user.level]|default('Unknown') }}
                                        </div>
                                    </div>
                                </div>
                                {% if not loop.last %}<hr class="my-3">{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
