{% extends "_layout.twig" %}

{% block head %}
    <meta name="title" content="{{ upload.title }} - {{ website_branding.name }}">
    <meta name="description"
          content="{{ upload.description|length > 250 ? upload.description|slice(0, 250) ~ '...' : upload.description }}">
    <script>
        video_id = '{{ upload.id }}';
        user_id = '{{ upload.author.id }}';
        upload_int_id = '{{ upload.int_id }}';
    </script>
{% endblock %}

{% block title %}{{ upload.title }}{% endblock %}

	{% block content %}
        <div class="row">
            <div class="col-lg-9">
                {{ upload_view(upload) }}
                <div style="margin-top:5px">
                    <div class="card">
                        <div class="card-body">
                            <h4>{{ upload.title }}</h4>
                            <hr class="mt-2 mb-3"/>
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-lg-2" style="width:10%;padding-right:0">
                                            <a href="/user/{{ upload.author.info.username }}">
                                                <img class="float-start rounded-circle w-100"
                                                        src="{{ profile_picture(upload.author.id) }}">
                                            </a>
                                        </div>
                                        <div class="col-lg-10">
                                            {{ user_link(upload.author) }}<br>
                                            <small>Uploaded on {{ upload.published | date('M j, Y') }}
                                                • {{ upload.interactions.views }} views
                                                {% if upload.published_originally and upload.original_site %}
                                                    <br>First uploaded on {{ upload.original_site }} on {{ upload.published_originally | date('M j, Y') }}
                                                {% elseif upload.original_site %}
                                                    <br>Originally uploaded on {{ upload.original_site }}
                                                {% endif %}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 text-end">
                                    <a href="#"
                                        id="{% if is_user_logged_in %}like{% else %}action_unlogged{% endif %}"
                                        class="text-{% if upload.interactions.legacy.likes != 0 %}success{% else %}body{% endif %}"
                                        style="text-decoration: none;">
                                        {{ icon("hand-thumbs-up-fill", 20) }}
                                    </a>
                                    <span id="likes">{{ upload.interactions.legacy.likes }}</span>

                                    <a href="#"
                                        id="{% if is_user_logged_in %}dislike{% else %}action_unlogged{% endif %}"
                                        class="text-{% if total_dislikesupload.interactions.legacy.dislikes != 0 %}danger{% else %}body{% endif %}"
                                        style="text-decoration: none;">
                                        {{ icon("hand-thumbs-down-fill", 20) }}
                                    </a>
                                    <span id="dislikes"
                                            style="padding-right: 10px">{{ upload.interactions.legacy.dislikes }}</span>

                                    <button id="subscribe"
                                            class="btn btn-{% if upload.author.following %}secondary{% else %}primary{% endif %}"
                                            type="button"
                                            {% if not is_user_logged_in or upload.is_owner %}disabled{% endif %}>{% if upload.author.following %}Unfollow{% elseif upload.is_owner %}Edit{% else %}Follow{% endif %}</button>
                                </div>
                            </div>
                            <div style="margin-top: 1rem;">
                                {% if upload.description | trim is not empty %}
                                    {{ upload.description | markdown_user_written }}
                                {% else %}
                                    <p>This upload has no description.</p>
                                {% endif %}
                            </div>
                            <hr class="mt-3 mb-3"/>
                            {% if upload.tags %}
                                Tags:
                                {% for tag in upload.tags %}
                                    <a href="/search?query={{ tag.name }}">{{ tag.name }}</a>{{ not loop.last ? ',' }}
                                {% endfor %}
                            {% endif %}
                            <hr class="mt-3 mb-3"/>
                            <div class="small">
                                <span>
                                    Type:
                                {% if upload.type == 2 %}
                                    Image
                                {% elseif upload.type == 3 %}
                                    Music
                                {% else %}
                                    Video
                                {% endif %}
                                </span>
                                •
                                <span>
                                    Rating:
                                {% if upload.rating == 'mature' %}
                                    Mature
                                {% else %}
                                    General
                                {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div> <!-- WATCH VIDEO BOX -->
                <div class="mt-1">
                    <div class="card">
                        <div class="card-body">
                            <h5>Comments</h5>
                            <hr class="mt-2 mb-3"/>
                            <textarea class="form-control mt-2 mb-2" id="commentContents"
                                      style="overflow:hidden;resize:none"
                                      rows="3"
                                      placeholder="{% if is_user_logged_in %}{{ localize('write_comment') }}{% else %}Please sign in in order to comment.{% endif %}"></textarea>
                            {% if is_user_logged_in %}
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end"
                                     style="margin-top:5px;margin-bottom:15px">
                                <button id="{% if is_user_logged_in %}post{% endif %}"
                                        class="btn btn-primary {% if not is_user_logged_in %}disabled{% endif %}">
                                    {{ localize('post_action') }}
                                    <div class="spinner-border spinner-border-sm d-none" id="commentPostingSpinner"
                                         role="status" aria-hidden="true"><span
                                                class="visually-hidden">Posting...</span></div>
                                </button>
                                </div>{% endif %}
                            <div id="comment"></div>
                            {% for comment in upload.comments %}
                                {{ include('/components/comment.twig') }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                {% if upload.recommended %}
                    {% for upload in upload.recommended %}
                        {{ include('/components/smallvideobox.twig') }}
                    {% endfor %}
                {% elseif upload.other_by_author %}
                    {% for upload in upload.other_by_author %}
                        {{ include('/components/smallvideobox.twig') }}
                    {% endfor %}
                {% elseif upload.random %}
                    {% for upload in upload.random %}
                        {{ include('/components/smallvideobox.twig') }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endblock %}