<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-5">
                <a href="/view/{{ upload.id }}">
                    <div class="img-thumbnail" style="margin-bottom:0">
                        <img class="img-fluid"
                             src="{{ thumbnail(upload.id, upload.type, upload.flags.custom_thumbnail) }}">
                    </div>
                </a>
            </div>
            <div class="col-7">
                <h5><a href="/view/{{ upload.id }}">{{ upload.title }}</a></h5>
                {# hack to prevent twig from outputing the number 1 #}
                {% if upload.views != 1 %}
                    {% set pluralViews = "s" %}
                {% endif %}
                <p>{{ user_link(upload.author) }} &bull; {{ upload.views }} view{{ pluralViews }} &bull;
                    <span title="{{ upload.published | date('F j, Y, g:i a') }}">{{ upload.published | relative_time }}</span>
                </p>
            </div>
        </div>
    </div>
</div>
