<div class="card" style="margin-bottom:10px">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <a href="/view/{{ submission.id }}">
                    <div class="img-thumbnail">
                        <img class="img-fluid" src="{{ thumbnail(submission.id, submission.type, submission.bools.custom_thumbnail) }}">
                    </div>
                </a>
            </div>
            <div class="col-6">
                <h3><a href="/view/{{ submission.id }}">{{ submission.title }}</a></h3>
                {# hack to prevent twig from outputing the number 1 #}
                {% if submission.views != 1 %}
                    {% set pluralViews = "s" %}
                {% endif %}
                <p>{{ user_link(submission.author) }} &bull; {{ submission.views }} view{{pluralViews}} &bull;
                    <span class="text-muted">{{ submission.published | relative_time }}</span></p>
                <p>{{ submission.description|length > 250 ? submission.description|slice(0, 250) ~ '...' : submission.description }}</p>
            </div>
        </div>
    </div>
</div>
